* {
    box-sizing: border-box;
}

html, body, .backdrop {
    height: 100%;
    width: 100%;
    margin: 0;
}

.backdrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(45deg, #6200ea, #d500f9);
    background: linear-gradient(45deg, #6200ea, #d500f9);
}

.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.dot {
    background: rgb(250, 129, 36);
    margin: 5px;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.dot:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.dot:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.dot:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.dot:nth-child(4) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.dot:nth-child(5) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes loader {
    from {
        width: 2px;
        height: 2px;
        border-radius: 1px;
    }
    to {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
}

@keyframes loader {
    from {
        width: 2px;
        height: 2px;
        border-radius: 1px;
    }
    to {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
}